.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: #121212;
    color: #fff;
    height: 100vh;
    box-sizing: border-box;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .infoForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }
  
  .label {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem; /* Reduzi a altura do texto em cerca de 30% */
    margin-bottom: 1rem;
  }
  
  .input {
    margin-top: 0.5rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #1e1e1e;
    color: #fff;
  }
  
  .input:disabled {
    background-color: #2a2a2a;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
  }
  
  .editButton,
  .saveButton {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .editButton {
    background-color: #007bff;
    color: white;
  }
  
  .editButton:hover {
    background-color: #0056b3;
  }
  
  .saveButton {
    background-color: #28a745;
    color: white;
  }
  
  .saveButton:hover {
    background-color: #218838;
  }
  