node_modules/
npm-debug.log*
yarn-error.log
.pnpm-debug.log*

dist/
build/
.cache/
coverage/
.vscode/
.idea/

.env
.env.*.local
.env.local

logs
*.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

*.sublime-workspace
*.sublime-project
*.code-workspace
*.iml
*.vscode/

*.test.js
*.spec.js
jest/
coverage/

*.tsbuildinfo

tmp/
temp/
*.tmp
*.swp
